<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${titulo}">Prueba</h1>
    <table>
      <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Ciudad</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each=" cliente : ${clientes}">
                <td th:text="${cliente.getCodigo_cliente()}">ID</td>
                <td th:text="${cliente.getNombre_cliente()}">Nombre</td>
                <td th:text="${cliente.getTelefono()}">Teléfono</td>
                <td th:text="${cliente.getCiudad()}">Ciudad</td>
            </tr>
        </tbody>
    </table>
</body>
</html>